[Unit]
Description=Run docker compose for Raino at startup
Requires=docker.service
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/sakuk/go-raino
ExecStart=/usr/bin/docker compose up --build -d
ExecStop=/usr/bin/docker compose down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
